.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-group{
  height: 60vh;
  width: 70vh;
  float: center;
  display:center ;
}

/* *{
  background-image: url("https://th.bing.com/th/id/OIP.Bi1dK5nX7ieaZGqWE7ChugHaEK?pid=ImgDet&rs=1");
  background-repeat: no-repeat;
  background-size: 100%;
  backface-visibility: hidden;
  /* background-position: 0%; 
} */

*{
  background-color: #cbced4;
}
.container{
  border-radius: 13px;
  /* background-color: #cbced4; */
  border: 2px solid black;
  height: 850px;
  width: 600px;
}

.h1-font{
  font-family:Geneva;
  font-weight: bold;
}
.login{
 
  height: 500px;
  width: 600px;
}
.margin{
  margin-left: 14rem;
}
.signup-margin{
  margin-left: 11.5rem;
}
